{% extends 'profile/base.html' %}

{% block title %}
  Blood Banks | Blood Nepal
{% endblock %}

{% block body %}
  <div class="fixed inset-0 bg-gray-800 bg-opacity-50 backdrop-blur-sm flex items-center justify-center">
    <div class="relative bg-white max-w-3xl mx-auto p-6 border border-gray-300 rounded-lg shadow-md space-y-4">
      <a href="{% url 'home' %}" class="absolute top-2 right-2 text-red-600 hover:text-red-500 focus:outline-none">
        <button class="btn btn-outline-danger btn-sm">
          <svg class="w-5 h-5" fill="none" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </a>
      <form method="post" enctype="multipart/form-data" class="space-y-6 max-w-4xl mx-auto">
        <div class="flex justify-center">
            <strong class="text-sm md:text-xl lg:text-xl text-navy-600">Add Blood Banks</strong>
        </div>
        {% csrf_token %}
    
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            <div class="mb-4">
                <label for="blood_bank_name" class="text-sm font-medium text-gray-700">{{ form.blood_bank_name.label_tag }}</label>
                {{ form.blood_bank_name }}
            </div>
            <div class="mb-4">
                <label for="blood_bank_location" class="text-sm font-medium text-gray-700">{{ form.blood_bank_location.label_tag }}</label>
                {{ form.blood_bank_location }}
            </div>
            <div class="mb-4">
                <label for="blood_bank_phone" class="text-sm font-medium text-gray-700">{{ form.blood_bank_phone.label_tag }}</label>
                {{ form.blood_bank_phone }}
            </div>
        </div>
        <button type="submit" class="px-4 py-2 bg-green-500 text-white font-semibold rounded-lg shadow hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500">Submit</button>
    </form>
    
    </div>
  </div>
{% endblock %}
