{% extends 'profile/base.html' %} 
{% load static %}

{% block title %}
  Blog
{% endblock %}

{% block body %}
  <div class="container text-justify px-5 py-4 mx-auto">
  <a href="{% url 'write_blog' %}">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">  
        Write Blog
  </button>
</a>
</div>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-1 mx-auto justify-content-centre">
      {% for blogs in blog_post %}
          <li><em>Author: {{blogs.user}} |    Title: {{blogs.title}} | Date: {{blogs.date}} </em>
        </li>
          <a href="{% url 'read_post' blogs.id %}"> <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">  
            Read More
        </button> </a>
          <a href="{% url 'delete_blog' blogs.id %}">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">  
              Delete
          </button>
          </a> 
          <a href="{% url 'update_blog' blogs.id %}">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">  
              Update
          </button>
          </a> 
          <hr>
      {% endfor %}
    </div>
{% endblock %}
