{% extends 'profile/base.html' %}


{% block title %}
  Blog
{% endblock %}
{% comment %} <a href="{% url 'read_post' Blogmodel.id %}"> {% endcomment %}
{% block body %}

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-4 mx-auto">
      <a href="{% url 'blog' %}">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">  
       
          Back
        </button>
      </a>
      <a href="{% url 'write_blog' %}">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">  
        
          Write Blog
      </button>
    </a>
</div>

<div class="card text-justify px-5 py-4 mx-auto">
  <div class="card-header">
    <strong> Title : {{blog.title}} </strong>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{blog.content}} </p><br>
      <footer class="blockquote-footer"> Written by :-<br><cite title="Source Title">Full name: {{ blog.signup}}<br>
        Email: {{ blog.signup.email}}</cite></footer>
    </blockquote>
  </div>
</div>
  <hr>
{% endblock %}

{% block hero %}
{% endblock %}
