{% extends 'profile/base.html' %}


{% block title %}
Donor's | Blood Nepal
{% endblock title %}

{% block body %}

<div class=" bg-gray-300 flex justify-center">
  <form class="form-inline my-2 my-lg-8" action = "{% url 'search' %}" method = "post">
    {% csrf_token %}
    <input style="width: 20vw; border: 1px solid #FFFFFF; padding: 8px; border-radius: 2px;" type="search" name = "searched" placeholder="Enter Blood group or Location" aria-label="Search" />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
{% for donor in donors  %}
{% include 'profile/partial_donor.html' %}
{% empty %}
<div class=" flex justify-center">
<strong>No Data Available</strong>
</div>
{% endfor %}
{% include "profile/pagination.html" %}
{% endblock body %}


