{% extends 'profile/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Search | Blood Nepal
{% endblock %}

<!-- SEARCHING -->

{% block body %}
<div class=" bg-gray-300 flex justify-center">
  <div class="flex justify-center">
    <form class="form-inline my-2 my-lg-8" action="{% url 'search' %}" method="post">
      {% csrf_token %}
      <input style="width: 20vw; border: 1px solid #4CAF50; padding: 8px; border-radius: 2px;" type="search" name="searched" placeholder="Enter Blood group or Location" aria-label="Search" />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>
  {% if blood_search or location_search %}
    <!-- searching by blood group -->
    {% for donor in blood_search %}
      {% include 'profile/partial_donor.html' %}
    {% endfor %}

    <!-- searching by location -->
    {% for donor in location_search %}
      {% include 'profile/partial_donor.html' %}
    {% endfor %}
  {% else %}
    <div class="flex flex-col items-center justify-center text-center">
      <div class="alert alert-warning alert-dismissible fade show col-md-3" role="alert">
        <strong>Data not available</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  {% endif %}

  {% include 'profile/pagination.html' %}
  
{% endblock %}

{% block loginbar %}

{% endblock %}
