{% extends 'profile/base.html' %}

{% load crispy_forms_tags %}

{% block tilte %}
  Sign up
{% endblock %}

{% block hero %}
  <div class="flex flex-wrap px-5 py-3 items-center text-base justify-center">
    <form method="post" enctype="multipart/form-data">
      <i>Name, Gender, Blood Group</i> are non-editable after profile is completed !!<br />

      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
{% endblock %}
